.color-palette {
  position: absolute;
  display: flex;
  gap: 12px;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #9B9B9B;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 12px;
}

.color-swatch {
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.color-swatch:hover {
  transform: scale(1.2);
  border-color: #000;
}

.color-swatch.selected {
  border-color: #000;
  transform: scale(1.2);
}
  
.tool-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
  border: 2px dashed transparent;
}

.tool-icon.selected {
  border-color: #000;
  background-color: #e7f1ff;
}

