:root{
  --lightRed: #FF8787;
  --darkRed: #772B2B;
  --lightGreen: #CEEF4E;
  --darkGreen: #67772B;
  /* --darkGreen: #97aa50; */
  --lightBlue: #9FD9FA;
  --lightYellow: #FFE780;
  --lightPurple: #DBCAFF;
  --lightGray: #F2F2F2;
  --gray: #969696;
  --white: #FFFFFF;
  --lightBlack: #565656; 
  --black: #000000;

  /* font-size: 24px; */
}

h1.bigTitle{
  font-size: 4rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
}

p{
  color: var(--lightBlack);
  margin: 0;
}

section{
  margin-block-start: 96px;
}
footer{
  margin-block-start: 96px;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'DM Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--black);
  text-decoration: none;
}

input {
  background-color: none;
  border: none;
}

.pixelFont {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bgDecor {
  position: absolute;
  z-index: -1;
}

.middleScreenContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inputData{
  padding: 12px;
  background-color: var(--white);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.submitButton{
  padding: 12px;
  background-color: var(--lightGreen);
  border-radius: 6px;
  color: var(--darkGreen);
  border: none;
}

.submitButton:hover {
  background-color: var(--darkGreen);
  color: var(--lightGreen);

  path {
    fill: var(--lightGreen);
  }
}

/* li a:hover:not(.active) {
  background-color: var(--lightGray);
  border-radius: 6px;
  padding: 6px 16px;
}  */
