  .gameContainer{
    overflow: hidden; 
    width: 100vw !important;
    background-color: rgb(100, 100, 100);
    height: 100vh !important;
  }
  
  .pixel-grid-container {
    overflow: hidden;
    position: relative;
  }
  canvas{
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    cursor: crosshair;
  }

  canvas[cursor-mode="true"] {
    cursor: pointer; /* Cursor tipo puntero cuando está en modo selección */
  }

  .pixel-grid {
    display: grid;
    grid-template-columns: repeat(100, 10px);
    grid-template-rows: repeat(100, 10px);
    gap: 1px; 
    background-color: #ccc;
  }
  
  .pixel {
    width: 10px;
    height: 10px;
    border: 1px solid #ddd; 
    cursor: pointer;
  }
  
  .pixel-info {
    position: absolute;
    bottom:  1rem;
    right:  1rem;
    width: fit-content;
    padding: 1.5rem 3rem ;
    border-radius: 12px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border: 1px solid #9B9B9B;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
  }
